ion-card.priority.warning{
    border-left-color: var(--ion-color-warning);
}

ion-card.priority.danger{
    border-left-color: var(--ion-color-danger);
}

ion-card.priority{
    border-left-width: 8px;
    border-left-style: solid;

    &>ion-item{
        margin-left: -8px;
        &>ion-icon{
            margin-right: 10px;
        }
    }
    &>ion-card-content{
        margin-left: -8px;
    }
}

ion-card{
    --ion-item-background: #fff;
}

ion-card>ion-card-content{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;

    
    &>div{
        padding-left: 10px;
        line-height: 15px;
        word-break: break-word;
    }
}

.full-width {
    width: 95%;
}