<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="programs"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="pwa.updateAvailable" (click)="pwa.refresh()">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="pwa.canInstall && !pwa.updateAvailable" (click)="pwa.installPWA()">
        <ion-icon name="download"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleFavourite()">
        <ion-icon name="star-outline" *ngIf="!isFavourite"></ion-icon>
        <ion-icon name="star" *ngIf="isFavourite"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<app-online-status></app-online-status>
<ion-content *ngIf="program">
  <ion-grid class="content-grid">
    <ion-row>
      <ion-col size="12" sizeLg="6" class="p0">
        <div class="cover">
          <ion-img class="program-image no-select" [src]="program?.image | imageCache:true | async"></ion-img>
          <div class="image-overlay">
            <div class="image-overlay-bottom">
              <span class="image-overlay-extra-title">{{program.extratitle}}</span>
              <span class="image-overlay-main-title">
                {{program.title}}
              </span>
              <span class="image-overlay-nationality">{{program.nationality}}</span>
            </div>
          </div>
        </div>
          <ion-list>
              <ion-item *ngFor="let time of program.event_Time">
                <ion-icon name="calendar" slot="start" color="secondary"></ion-icon>
                <ion-label>{{time.start | date:'EEEE HH:mm':'+0200':'hu'}} - {{time.end | date:'HH:mm':'+0200'}}</ion-label>
              </ion-item>
              <ion-item routerLink="/location/{{program.placeId}}" *ngIf="program.placeId !== '0'">
                <ion-icon name="pin" slot="start" color="secondary"></ion-icon>
                <ion-label>{{program.placeName}}</ion-label>
              </ion-item>
              <ion-item *ngIf="!!offest">
                <ion-grid class="p0">
                  <ion-row>
                    <ion-col size="0" [offset]="this.offest" *ngIf="offest"></ion-col>
                    <ion-col *ngIf="program.social_Web" class="p0 social-icon" size="2" (click)="goToUrl(program.social_Web)"><ion-icon name="globe" color="secondary"></ion-icon></ion-col>
                    <ion-col *ngIf="program.social_Facebook" class="p0 social-icon" size="2" (click)="goToUrl(program.social_Facebook)"><ion-icon name="logo-facebook" color="secondary"></ion-icon></ion-col>
                    <ion-col *ngIf="program.social_Instagram" class="p0 social-icon" size="2" (click)="goToUrl(program.social_Instagram)"><ion-icon name="logo-instagram" color="secondary"></ion-icon></ion-col>
                    <ion-col *ngIf="program.social_Twitter" class="p0 social-icon" size="2" (click)="goToUrl(program.social_Twitter)"><ion-icon name="logo-twitter" color="secondary"></ion-icon></ion-col>
                    <ion-col *ngIf="program.social_Youtube" class="p0 social-icon" size="2" (click)="goToUrl(program.social_Youtube)"><ion-icon name="logo-youtube" color="secondary"></ion-icon></ion-col>
                  </ion-row>
                </ion-grid>  
              </ion-item>
          </ion-list>


      </ion-col>
      <ion-col size="12" sizeLg="6" center>
        <ion-list>
            <ion-list-header *ngIf="news?.length > 0">
              <ion-label>Hírek</ion-label>
            </ion-list-header>
            <ion-item class="light-bg p0" *ngIf="news?.length > 0">

                <ion-slides pager="true" style="width: 100%">
                    <ion-slide *ngFor="let n of news">
                        <app-news-card [priority]="n.priority" [title]="n.title" [content]="n.content" style="width: 100%"></app-news-card>
                    </ion-slide>
                </ion-slides>

            </ion-item>

            <ion-list-header *ngIf="program?.description">
                <ion-label>Leírás</ion-label>
            </ion-list-header>
            <ion-item *ngIf="program?.description">
              <span [innerHtml]="program.description"></span>
            </ion-item>
            <ion-item *ngIf="getSpotifyLink()">
              <div style="border-radius: 5px; width: 95%; height: 390px; overflow: hidden; margin: auto; margin-bottom: 20px; margin-top: 20px;">
                <iframe [src]="getSpotifyLink()" height="390" frameborder="0" allowtransparency="true" allow="encrypted-media" style="width: 100%; max-width: 100%;"></iframe>
              </div>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
