.content-grid{
    padding: 0px;
}

.social-icon{
    display: flex;
    align-content: center;

    &>ion-icon{
        width: 100%;
        font-size: 25px;
    }
}

.cover {
    position: relative;
    height: 300px;
}

.image-overlay{
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 60px;
    background: linear-gradient(transparent, #00000070, #00000080, #00000099);
    padding: 10px;

    display: flex;
    align-items: flex-end;
}

.program-image{
    height: 100%;
    object-fit: cover;
}

.image-overlay-bottom {
    max-width: 100%;

    .image-overlay-nationality {
        color: white;
        font-weight: bold;
        font-size: medium;
        padding-left: 5px;
        text-transform: uppercase;
    }
    
    .image-overlay-main-title{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: x-large;
    }
    
    .image-overlay-extra-title{
        color: white;
        font-size: medium;
        display: block;
    }
}

.light-bg{
    --ion-item-background: linear-gradient(#fff,#f8f8f8,#f8f8f8,#f8f8f8,#f8f8f8,#f8f8f8,#fff);
}