<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">

      <ion-back-button defaultHref="programs" *ngIf="isHome()"></ion-back-button>
      
      <ion-button *ngIf="!isHome()" (click)="home()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="pwa.updateAvailable" (click)="pwa.refresh()">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="pwa.canInstall && !pwa.updateAvailable" (click)="pwa.installPWA()">
        <ion-icon name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isHome()">{{place?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<app-online-status></app-online-status>
<ion-content>
<ion-slides #slider [options]="{autoHeight: 'true'}" (ionSlideDidChange)="swiped($event)">
  <ion-slide>
  <ion-grid class="content-grid">
    <ion-row>
      <ion-col size="12" sizeLg="6" class="p0">
        <div class="cover">
          <ion-img class="program-image no-select" [src]="data.placeholderImageUrl | imageCache:true | async"></ion-img>

          <div class="image-overlay">
            <div class="image-overlay-bottom">
              <span class="image-overlay-extra-title">Legnagyobb színpad</span>
              <span class="image-overlay-main-title">
                {{place?.name}}
              </span>
              <span class="image-overlay-extra" *ngIf="false"></span>
            </div>
          </div>
        </div>

          <ion-list class="info-list">
              <div class="chip-holder">
                <ion-chip outline="true">
                  <ion-icon name="sunny" color="secondary"></ion-icon>
                  <ion-label>Szabadtéri</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="musical-notes" color="secondary"></ion-icon>
                  <ion-label>Zene</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="beer" color="secondary"></ion-icon>
                  <ion-label>Alkohol</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="outlet" color="secondary"></ion-icon>
                  <ion-label>Konnector</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="microphone" color="secondary"></ion-icon>
                  <ion-label>Élőzene</ion-label>
                </ion-chip>
              </div>

              <ion-item>
                  <ion-icon name="map" slot="start" color="secondary"></ion-icon>
                  <ion-label>Megtekintés térképen</ion-label>
              </ion-item>

              <ion-item (click)="slider.slideTo(1)">
                  <ion-icon name="list" slot="start" color="secondary"></ion-icon>
                  <ion-label>Programok</ion-label>
              </ion-item>
          </ion-list>
      </ion-col>
      <ion-col size="12" sizeLg="6">
        <ion-list>
            <ion-list-header *ngIf="news?.length > 0">
                <ion-label>Hírek</ion-label>
              </ion-list-header>
              <ion-item class="light-bg p0" *ngIf="news?.length > 0">
  
                  <ion-slides  #slidernews pager="true" style="width: 100%">
                      <ion-slide *ngFor="let n of news">
                          <app-news-card [priority]="n.priority" [title]="n.title" [content]="n.content" style="width: 90%"></app-news-card>
                      </ion-slide>
                  </ion-slides>
  
              </ion-item>

            <ion-list-header *ngIf="place?.description">
                <ion-label>Leírás</ion-label>
            </ion-list-header>
            <ion-item *ngIf="place?.description">
              <span [innerHTML]="place.description"></span>
            </ion-item>

          </ion-list>
      </ion-col>

          
    </ion-row>

  </ion-grid>



</ion-slide>
<ion-slide style="width: 100%">
  <ion-grid class="p0">
    <ion-row>
      <ion-col *ngFor="let program of programs; let i = index" size="12" class="p0">
        <ion-item *ngIf="program.onNewDate" color="secondary">
          {{program.start_Time | date: 'MM.dd EEEE':'+0000':'hu'}}
        </ion-item>
        <ion-item routerLink="/program/{{program.internalId}}" [ngClass]="{'program-favorite': checkIsFavourite(program.internalId)}">
          
            <span class="date-span">{{program.start_Time | date: 'HH:mm':'+0000'}} <br> {{program.end_Time | date: 'HH:mm':'+0000'}}</span> 
            {{program.title}}
          
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-slide>
</ion-slides>
</ion-content>