<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">

      <ion-back-button defaultHref="programs" *ngIf="isHome()"></ion-back-button>
      
      <ion-button *ngIf="!isHome()" (click)="home()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="pwa.updateAvailable" (click)="pwa.refresh()">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="pwa.canInstall && !pwa.updateAvailable" (click)="pwa.installPWA()">
        <ion-icon name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isHome()">Telekom nagyszínpad</ion-title>
  </ion-toolbar>
</ion-header>
<app-online-status></app-online-status>
<ion-content>
  <ion-slides #slider (ionSlideDidChange)="swiped($event)">
    <ion-slide>
  <ion-grid class="content-grid">
    <ion-row>
      <ion-col size="12" sizeLg="6" class="p0">
        <div class="cover">
          <ion-img class="program-image no-select" [src]="null || 'https://via.placeholder.com/140x120'"></ion-img>

          <div class="image-overlay">
            <div class="image-overlay-bottom">
              <span class="image-overlay-extra-title">RETEK</span>
              <span class="image-overlay-main-title">
                Telekom nagyszínpad
              </span>
              <span class="image-overlay-extra">Cabernie</span>
            </div>
          </div>
        </div>

          <ion-list class="info-list">
              <div class="chip-holder">
                <ion-chip outline="true">
                  <ion-icon name="sunny" color="secondary"></ion-icon>
                  <ion-label>Szabadtéri</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="musical-notes" color="secondary"></ion-icon>
                  <ion-label>Zene</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="beer" color="secondary"></ion-icon>
                  <ion-label>Alkohol</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="outlet" color="secondary"></ion-icon>
                  <ion-label>Konnector</ion-label>
                </ion-chip>
                <ion-chip outline="true">
                  <ion-icon name="microphone" color="secondary"></ion-icon>
                  <ion-label>Élőzene</ion-label>
                </ion-chip>
              </div>

              <ion-item>
                  <ion-icon name="map" slot="start" color="secondary"></ion-icon>
                  <ion-label>Megtekintés térképen</ion-label>
              </ion-item>

              <ion-item (click)="slider.slideTo(1)">
                  <ion-icon name="list" slot="start" color="secondary"></ion-icon>
                  <ion-label>Programok</ion-label>
              </ion-item>
          </ion-list>
      </ion-col>
      <ion-col size="12" sizeLg="6">
        <ion-list>
            <ion-list-header>
              <ion-label>Hírek</ion-label>
            </ion-list-header>
            <ion-item class="light-bg">

                <ion-slides pager="true">
                    <ion-slide>
                        <app-news-card priority="danger" title="Esős időjárás" content="Kedves VOLTozók! Várhatóan esős esténk lesz, mindenképp hozzatok esőkabátot és öltözzetek melegen! 💦"></app-news-card>
                    </ion-slide>
                    <ion-slide>
                        <app-news-card title="Program ajánló" moreButton="true" content="Ma este Iron Maiden! 😉 😎 De előtte és utána is sok sok program közül választhattok, koncerteket ..."></app-news-card>
                    </ion-slide>
                    <ion-slide>
                        <app-news-card priority="warning" title="Programváltozás" content="A Rudimental DJ Set 2-kor kezdődik! Érezzétek jól magatokat! 😉"></app-news-card>
                    </ion-slide>
                  </ion-slides>

            </ion-item>

            <ion-list-header>
                <ion-label>Leírás</ion-label>
            </ion-list-header>
            <ion-item>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores sed fuga veniam explicabo quis, quaerat mollitia soluta nesciunt at totam nihil nisi laudantium porro blanditiis a iure quisquam voluptatibus quae.
              Libero iure eligendi quam rerum! Ullam ut pariatur placeat amet. Nam magni numquam dolorum laborum modi, dolores suscipit ipsa error aspernatur impedit culpa porro, quasi deleniti atque quia sit consequuntur.
              Veritatis eaque dolor architecto omnis minus quo tenetur? Rerum itaque totam reiciendis, praesentium optio voluptatem? Perferendis, expedita? Provident, fuga eum. Laboriosam repellendus accusamus placeat, natus nobis labore quidem quae distinctio.
              Soluta provident necessitatibus recusandae labore ea distinctio nesciunt id voluptatem non, nihil aliquid, eius harum vitae. Suscipit, tenetur nihil nisi praesentium deserunt quos commodi totam odit architecto consectetur! Saepe, harum!
              Enim a quae earum iusto, necessitatibus saepe aliquam veniam facere autem? Voluptatum voluptatem fuga autem neque! Molestias error amet fugit illo accusamus ut repudiandae hic? Voluptate voluptatum totam placeat hic!
            </ion-item>

          </ion-list>
      </ion-col>

          
    </ion-row>

  </ion-grid>
</ion-slide>
<ion-slide>
  <h1>Slide 2</h1>
</ion-slide>
<ion-slide>
  <h1>Slide 3</h1>
</ion-slide>
</ion-slides>

</ion-content>
