<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Programok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-grid>
        <ion-row>
          <ion-col size="6" sizeLg="4" *ngFor="let program of programs" style="height:25%">

              <ion-card>                      
                  <ion-card-content>
                    <img class="program-image no-select" [src]="program.image || 'https://via.placeholder.com/140x120'">

                    <div class="image-overlay">
                      <div class="image-overlay-bottom">
                        <span class="image-overlay-extra-title">{{program.extratitle}}</span>
                        <span class="image-overlay-main-title">
                          {{program.title}}
                        </span>
                        <span class="image-overlay-nationality">{{program.nationality}}</span>
                      </div>
                    </div>
                  </ion-card-content>
              </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
