<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hírek
    </ion-title>
  </ion-toolbar>
</ion-header>
<app-online-status></app-online-status>
<ion-content class="page-content">
      <div *ngIf="!news" class="spinner-container">
        <ion-spinner color="primary"></ion-spinner>
      </div>

      <app-news-card *ngFor="let newsItem of news"
          [title]="newsItem.title"
          [content]="newsItem.content"
          [priority]="newsItem.priority">
      </app-news-card>
</ion-content>
