<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button *ngIf="pwa.updateAvailable" (click)="pwa.refresh()">
          <ion-icon name="refresh-circle"></ion-icon>
        </ion-button>
        <ion-button *ngIf="pwa.canInstall && !pwa.updateAvailable" (click)="pwa.installPWA()">
          <ion-icon name="download"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Programok</ion-title>
  </ion-toolbar>
</ion-header>
<app-online-status [promise]="programs"></app-online-status>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [disabled]="!app.isOnline">
        <ion-refresher-content 
          pullingIcon="refresh"
          refreshingSpinner="crescent"></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!programs" class="spinner-container">
        <ion-spinner color="primary"></ion-spinner>
    </div>


    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let program of programs?.payload.data; let ind = index" size="6" sizeLg="4">
              <app-program-tile [program]="program" [id]="ind"></app-program-tile>
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
